body{
    background-image: url("img/fondo.jpg");
    background-size: 100rem;
}
.titulo{
    color: white;
    font-weight: bolder;
}
div#menu{

    background-color: rgb(116,65,20);
}
div#menu table#tabla-menu p{
    color: white;
}
div#menu table#tabla-menu .titulo{
    color: white;
    font-weight: bolder;
}

div#texto h1{
    text-align: center;
    color: white;
}
div#texto p{
    text-align: center;
    color: white;
    
}
div#contacto table#tabla-contacto{
    margin: auto;
    margin-top: 100px;
}
div#contacto p{
    color: white;
    text-align: center;
    font-size: large;
}