/*EDICION PROPIEDADES DE BODY*/

/*EDICION PROPIEDADES DIV MENU*/

div#menu table#tabla-menu td{
    margin-left: 10px;
}
/*EDICION PROPIEDADES DIV MENU SECCION BOTONES*/

.btn{
    background-color: rgb(116,65,20);
    color: white;
}
.btn:hover{
    color:black;
    background-color: rgb(233,172,30);
    border-color:rgb(245, 245, 245);
}
/*EDICION PROPIEDADES DIV TEXTO O CUERPO DE PAGINA*/

.parrafoB{
    text-align: center;
    color: white;
    font-size: x-large;
}
div#texto div#boton{
    margin-top: 10px;
    text-align: center;
}

div#texto2 div#botones{
    margin-top: 10px;
    text-align: center;
}
div#imagen1{
    text-align: center;
    margin-top: 10px;
}
div#texto2 h1{
    text-align: center;
    color: black;
}

.img-nosotros1{
    max-width: 40%;
    max-height: 40%;
}
.img-nosotros2{
    padding-left: 5px;
    max-width: 120%;
    max-height: 120%;
}
.img-servicios1{
    padding: 5px;
    width: 300px;
    height: 205px;
}
div#img-servicios{
    border: 2px solid black;
    background-color: rgb(236, 235, 248);
    padding: 30px;
}
div#img-servicios table#tabla-servicios td{
    background-color: white;
    text-align: center;
    padding: 1%;
}

/*EDICION PROPIEDADES DIV FORMULARIO DE CONTACTO*/

.formulario{
    margin: 25px;
    padding: 50px;
    background-color: rgb(173, 176, 230);
}

/*EDICION PROPIEDADES DIV CONTACTO*/

div#contacto table#tabla-contacto{
    margin: auto;
    margin-top: 200px;
}
