/*EDICION PROPIEDADES DE BODY*/

/*EDICION PROPIEDADES DIV MENU*/

.titulo{
    color: white;
    font-weight: bolder;
}
.titulo{
    width: 150px;
}
div#menu{
    background-color: rgb(116,65,20);
}
div#menu table#tabla-menu p{
    color: white;
}
div#menu table#tabla-menu td{
    margin-left: 10px;
}
/*EDICION PROPIEDADES DIV MENU SECCION BOTONES*/

.btn{
    background-color: rgb(116,65,20);
    color: white;
}
.btn:hover{
    color:black;
    background-color: rgb(233,172,30);
    border-color:rgb(245, 245, 245);
}
/*EDICION PROPIEDADES DIV TEXTO O CUERPO DE PAGINA*/

div#texto h1{
    text-align: center;
    color: white;
}
.parrafoA{
    text-align: center;
    color: white;
}
.parrafoB{
    text-align: center;
    color: white;
    font-size: x-large;
}

div#texto div#boton{
    margin-top: 10px;
    text-align: center;
}
.parrafoC{
    text-align: center;
    color: black;
}
div#texto2 div#botones{
    margin-top: 10px;
    text-align: center;
}
div#imagen1{
    text-align: center;
    margin-top: 10px;
}
div#texto2 h1{
    text-align: center;
    color: black;
}
div#texto3 table#tabla-texto3 td{
    padding-right: 5px;
    text-align: center;
}
.img-nosotros1{
    max-width: 40%;
    max-height: 40%;
}
.img-nosotros2{
    padding-left: 5px;
    max-width: 120%;
    max-height: 120%;
}
.img-servicios1{
    padding: 5px;
    width: 300px;
    height: 205px;
}
div#img-servicios{
    border: 2px solid black;
    background-color: rgb(236, 235, 248);
    padding: 30px;
}
div#img-servicios table#tabla-servicios{
    border: 2px solid black;
}
div#img-servicios table#tabla-servicios td{
    text-align: center;
    border: 2px solid black;
    padding: 1%;
}
/*EDICION PROPIEDADES DIV CONTACTO*/

div#contacto table#tabla-contacto{
    margin: auto;
    margin-top: 200px;
}
div#contacto2 table#tabla-contacto{
    margin: auto;
    margin-top: 20px;
}
div#contacto p{
    color: white;
    text-align: center;
    font-size: large;
    font-weight: bolder;
}
div#contacto2 p{
    color: black;
    text-align: center;
    font-size: large;
    font-weight: bolder;
}